<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/traineeHomepage.css}">
    <script src="https://kit.fontawesome.com/ef4342f3da.js" crossorigin="anonymous"></script>

    <!--  Code doesn't work in external CSS file, I think because of bootstrap  -->
    <style>
      button#logout {
        font-size: 1.5rem;
        padding: 15px 10px;
        color: white;
        text-decoration: none;
        border: none;
        background-color: transparent;
      }

      button#logout:hover {
        color: #e33661;
        font-size: 1.75rem;
      }

      button#logout > i {
        padding: 0 10px;
      }
    </style>
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <a th:href="@{/web/trainerHomepage}">
            <img src="../static/images/sparta-img.png" th:src="@{/images/sparta-img.png}" alt="Sparta Global Logo"/>
          </a>
        </li>
        <li>
          <form th:action="@{/web/logout}" method="post" >
            <button type="submit" id="logout">Logout<i class="fa-solid fa-arrow-right-from-bracket"></i></button>
          </form>
        </li>
      </ul>
    </nav>

    <main>
      <section class="trainee-info-flex-container">
        <div class="profile-section">
          <i class="fa-solid fa-user"></i>
        </div>

        <div class="trainee-info">
          <div>
            <h1 th:text="${trainee.getFirstName()}">Name</h1>
          </div>

          <div>
            <h1><span th:text="${batch.getBatchName()}"></span><span> </span><span th:text="${batch.getCourse().getCourseName()}"></span></h1>
          </div>
        </div>
      </section>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Week</th>
            <th scope="col">Start</th>
            <th scope="col">Stop</th>
            <th scope="col">Continue</th>
            <th scope="col">Technical Skills</th>
            <th scope="col">Soft Skills</th>
            <th scope="col">Comments</th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="tracker : ${traineeTracker}">
            <td th:text="${tracker.getWeek()}"></td>
            <td th:text="${tracker.getStart()}"></td>
            <td th:text="${tracker.getStop()}"></td>
            <td th:text="${tracker.getContinueField()}"></td>
            <td th:text="${tracker.getTechnicalSkills()}"></td>
            <td th:text="${tracker.getSoftSkills()}"></td>
            <td th:text="${tracker.getComment()}"></td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>