body {
    margin: 0;
    padding: 0;
}
nav ul {
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
}
/*doesnt work in style sheet because of bootstrap*/

/*button#logout {*/
/*    font-size: 1.5rem;*/
/*    padding: 15px 10px;*/
/*    color: white;*/
/*    text-decoration: none;*/
/*    border: none;*/
/*    background-color: transparent;*/
/*}*/

/*button#logout:hover {*/
/*    color: #e33661;*/
/*    font-size: 1.75rem;*/
/*}*/

/*button#logout > i {*/
/*    padding: 0 10px;*/
/*}*/

main {
    width: 80%;
    margin: 0 auto;
}


/*trainee information section*/

/*flex container*/
.trainee-info-flex-container {
    display: flex;
    margin-bottom: 50px;
    padding-top: 100px;
}

.trainee-info{
    display: flex;
    flex-direction: column;
    color: black;
    padding: 10px;
    justify-content: space-evenly;
}

.trainee-info div:first-child h1 {
    margin: 2.5px 0;
}

.trainee-info div:last-child h1 {
    float: right;
}

.profile-section {
    background-color: #d2d2d2;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /*border: black solid 1px;*/
    align-items: center;
    justify-content: center;
}

.profile-section i {
   position: relative;
    top: 25%;
    left: 30%;
    font-size: 3rem;
    color: #e33661;
}

td {
    background-color: #ff4646;
    overflow: auto;
}




